* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: #e67e22;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  height: 40px;
  background: #2c3e50;
  padding: 10px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box .search-input {
  background: none;
  text-align: center;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  width: 0px;
  transition: 0.5s;
}

.search-box .search-btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  color: #e67e22;
  border-radius: 50%;
}

.search-box:hover .search-input {
  width: 250px;
}

.search-box:hover .search-btn {
  background: white;
}
