* {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  height: 100vh;
}

.item {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 66px;
  font-style: italic;
  color: #000000;
  transform: translateX(-100%);
}

.item p {
  transform: translateX(-190%);
  letter-spacing: 0.2em;
}

.color1 {
  background: #35afc6;
  animation: bg 0.3s linear forwards;
}

.color1 p {
  animation: text 3s 0.3s cubic-bezier(0, 0.49, 0, 1) forwards;
}

.color2 {
  background: #d6cdec;
  clip: rect(0, 1200px, 100vh, 0);
  animation: bg 2.6s 0.4s cubic-bezier(0, 0.49, 0, 1) forwards;
}

.color2 p {
  animation: text 2.6s 0.4s cubic-bezier(0, 0.49, 0, 1) forwards;
}

.color3 {
  background: #fae2ef;
  clip: rect(0, 1000px, 100vh, 0);
  animation: bg 2.5s 0.5s cubic-bezier(0, 0.49, 0, 1) forwards;
}

.color3 p {
  animation: text 2.5s 0.5s cubic-bezier(0, 0.49, 0, 1) forwards;
}

.color4 {
  background: #8fcce9;
  clip: rect(0, 700px, 100vh, 0);
  animation: bg 2.3s 0.7s cubic-bezier(0, 0.49, 0, 1) forwards;
}

.color4 p {
  animation: text 2.3s 0.7s cubic-bezier(0, 0.49, 0, 1) forwards;
}

/* 动画 */
@keyframes bg {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes text {
  from {
    transform: translateX(-190%);
  }
  to {
    transform: translateX(0);
  }
}
